<!-- Show all movies in Database -->

<div>
    <h2>{{vm.message}}</h2>
    <div class="card-deck">
        <div ng-repeat="details in vm.allMovies.details">
            <div class="card" style="width: 18rem;">
                <button type="button" class="close" aria-label="Close">
                    <span ng-click="vm.deleteMovie(details)">&times;</span>
                </button>
                <img class="card-img-top" ng-src="{{vm.poster.details}}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{details.name}}</h5>
                    <p class="card-text">Directed by {{details.director}}</p>
                    <p class="card-text">Released on {{details.release_date | date: mm-dd-yyyy}}</p>
                    <p class="card-text">Run time {{details.run_time}} min</p>
                </div>
            </div>
        </div>
    </div>
</div>