<div>
    <h2>{{vm.message}}</h2>
    <form ng-submit="vm.postMovie(vm.newMovie)">
            <br>
            <input type="text" ng-model="vm.newMovie.name" placeholder="Movie">
            <input type="text" ng-model="vm.newMovie.director" placeholder="Director">
            <input type="date" ng-model="vm.newMovie.release_date" placeholder="Release Date">
            <input type="number" ng-model="vm.newMovie.run_time" placeholder="Run Time">
            <select ng-model="vm.newHome.genre">
                <option value="comedy">Comedy</option>
                <option value="drama">Drama</option>
            </select>
            <input type="submit" value="Submit New Movie" />
        </form>
</div>