<!-- Add new movie and display most recent addition-->

<div>
    <h2>{{vm.message}}</h2>
    <form ng-submit="vm.getPoster(vm.newMovie)">
            <br>
            <input type="text" ng-model="vm.newMovie.name" placeholder="Movie">
            <input type="text" ng-model="vm.newMovie.director" placeholder="Director">
            <input type="date" ng-model="vm.newMovie.release_date" placeholder="Release Date">
            <input type="number" ng-model="vm.newMovie.run_time" placeholder="Run Time">
            <select ng-model="vm.newMovie.genre_id">
                <option value="">----Please Select----</option>
                <option ng-repeat="genre in vm.allGenres.details" ng-value="genre.id">{{genre.name}}</option>
            </select>
            <input type="submit" value="Submit New Movie" />
        </form>
        <br>
        <br>
        <br>
        <h3>Latest Movie Added</h3>
        <br>
        <div class="card-deck" id="box">
                <div ng-repeat="details in vm.lastMovies.details">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" ng-src="{{details.image_path}}" alt="Card image cap">
                    <div class="card-body">
                            <h5 class="card-title">{{details.name}}</h5>
                            <p class="card-text">Directed by {{details.director}}</p>
                            <p class="card-text">Released on {{details.release_date | date: mm-dd-yyyy}}</p>
                            <p class="card-text">Run time {{details.run_time}} min</p>
                    </div>
                </div>
                <br>
            </div>
        </div>    
</div>